/* Chronologie des Divs
.faq-card --> contient tous les blocs

.card-container --> diviser en deux --> 1 bloc pour l'image ---> 1 bloc pour l'accordeon

.img-container--> positionnement des images

.accordeon-container--> contient le bloc FAQ

.accordeon --> contient la totalité de l'accordeon

.container --> 1 pour chaque bloc d'accordeon dans lequel se trouve
     1-->.label 
     1-->.content
 */

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
html {
    font-size: 63%;
}
body {
    height: 100vh;   
    font-family: "Kumbh sans", sans-serif;
    font-size: 1.4rem; 
    background: rgb(112,34,195);
    background: linear-gradient(0deg, rgba(112,34,195,1) 0%, rgba(216,45,253,1) 100%);
}

.faq-card { 
    position: relative;  
    width: 85%;
    max-width: 38rem;
    background-color: aliceblue;
    margin: 20rem auto;
    border-radius: 20px;
    box-shadow: 5px 13px 50px -10px; 
}
.accordeon {
    margin: 0 2rem;
}

.illustration {
    position: relative;
    min-height: 10rem;
}
.illustration::before {
    content: url(./images/illustration-woman-online-mobile.svg);
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 75%;
    transform: translate(-50%,-60%);    
}
.illustration::after {
    content: "";
    background: url(./images/bg-pattern-mobile.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: -10%;
    left: 50%;
    width: 75%;
    height: 150px;
    transform: translateX(-50%);
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}
/* .container {
    
} */
.container .label {
    font-size: 1.5rem;
}
.container .active .label {
    font-weight: 900;
}
.container .label::after {
    content: "";
    background: url(./images/icon-arrow-down.svg);
    height: 1.1rem;
    width: 1.1rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: relatiive;
    float: right;

}
.container .content {
    font-size: 1.2rem;

}

/* @media screen and (min-width: 700px) {
    
} */
